<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
        <title>Your Phone</title> 
    </head>
    <body scroll="no" style="overflow: hidden"> 
    {% for search in sear %}
    <section class="text-gray-600 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
        <img alt="{{search.Name}}" width="500" height="600" class="lg:w-1/2 w-full lg:h-auto h-64 object-cover object-center rounded" src="{{search.phone_img.url}}">
        <div class="lg:w-1/2 w-full lg:pl-10 lg:py-6 mt-6 lg:mt-0">
            <h2 class="text-sm title-font text-gray-500 tracking-widest">BRAND NAME</h2>
            <h1 class="text-gray-900 text-3xl title-font font-medium mb-1">{{search.Name}}</h1>
            <p> {{search.para1}}</p>
            <p> {{search.para2}}</p>
            <p> {{search.para3}}</p>
            <p> {{search.para4}}</p>
            <p> {{search.para5}}</p>
            <p> {{search.para6}}</p>
            <p> {{search.para7}}</p>
            <div class="flex mt-6 items-center pb-5 border-b-2 border-gray-100 mb-5">
            <div class="flex ml-6 items-center">
                <span class="mr-3">RAM {{search.RAM}}</span>
                 <span class="mr-3">ROM {{search.ROM}} </span>
                <span class="absolute right-0 top-0 h-full w-10 text-center text-gray-600 pointer-events-none flex items-center justify-center">
                    <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-4 h-4" viewBox="0 0 24 24">
                    <path d="M6 9l6 6 6-6"></path>
                    </svg>
                </span>
                </div>
                <hr>
            </div>
            <div class="flex">
            <span class="title-font font-medium text-2xl text-gray-900">₹ {{search.Cost}}  ---------> </span>
            <a href="{{search.Link}}">
            <button class="flex ml-auto text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded">Amazon</button>
            </div>
        </div>
        </div>
    </div>
    {% endfor %}
    </section>
    </body>
</html>